<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAIQRiM5OpLcMUMaUub6xN2F5Im1xYDJYE</string>
	<key>GCM_SENDER_ID</key>
	<string>81098138212</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.aeapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>aeapp-e9bab</string>
	<key>STORAGE_BUCKET</key>
	<string>aeapp-e9bab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:81098138212:ios:999a78b91e53f6f18df571</string>
</dict>
</plist>